<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>afrigo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Btrp/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style2.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg  my-bckgd ">
        <div class="container-fluid ">
            <a class="navbar-brand me-color" id="spcleft-logo" href="/"><img src="./images/logo2.png" alt="ugaamux" width="60px" height="60px"></a>

            <button class="navbar-toggler menu-border " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
           <div class="hmenu "></div>
           <div class="hmenu "></div>
           <div class="hmenu "></div>
          </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
                <div class="navbar-nav left ">
                    <a class="nav-link me-color " href="/">Home</a>
                    <a class="nav-link me-color " href="/artistspage/artist">Artists</a>
                    <a class="nav-link me-color " href="/comedianspage/comedian">Commedians</a>
                    <a class="nav-link me-color " href="/bandpage/band">Bands</a>
                    <a class="nav-link me-color " href="/aboutuspage/about">About Us</a>
                    <a class="nav-link me-color " href="/blog">Blog</a>
                    <a class="nav-link me-color " href="/contactUS/contactUs">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="profile-band ">
        <div class="pic-band"><img src="./images/band/afrigo.jpeg" alt="afrigo"></div>
        <h3>Afrigo band</h3>
    </div>
    <div class="row">
        <div class="about-artist col-lg-8">
            <h2 class="caption">About</h2>
            <table>
                <tr>
                    <td><strong>Band name</strong></td>
                    <td>Afrigo band</td>

                    <td>Playlist
                    </td>
                </tr>
                <tr>
                    <td><strong>Band home</strong></td>
                    <td>Play music til the end</td>
                </tr>
                <tr>
                    <td><strong>Band slogan</strong></td>
                    <td>Raymond</td>
                </tr>
                <tr>
                    <td><strong>Band sponsers</strong></td>
                    <td>Raymond</td>
                </tr>
                <tr>
                    <td><strong>Number of members</strong></td>
                    <td>10</td>
                </tr>

            </table>
        </div>
    </div>


    <!--this is a footer section-->
    <div class="row ">
        <div class="footer col-lg-6 col-md-6 col-sm-12 ">
            <div class="text-box-footer ">
                <h1>Contact With US</h1>
                <span>Email: <a href="# ">ugaamux@gmail.com</a></span><br>
                <span>Call: <a href="# ">0785234859</a></span><br>
                <span> Location:Kampala (UG)</span><br>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>

        <div class="footer-2 col-lg-6 col-md-6 col-sm-12 ">
            <div class="text-box-footer ">
                <h1></h1>
                <a class="footer-link " href="# ">Support</a>
                <a class=" footer-link " href="# ">Artists</a>
                <a class=" footer-link " href="# ">Comedians</a>
                <a class=" footer-link " href="# ">Bands</a>
                <a class=" footer-link " href="# ">AboutUs</a>
                <a class=" footer-link " href="# ">Blog</a>

            </div>
        </div>
    </div>

    <div class="copyright ">
        <p> &#9400Sabiiti Raymond 2021</p>
    </div>




</body>
<script src="../Btrp/js/bootstrap.min.js"></script>


</html>