<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../Btrp/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg  my-bckgd ">
        <div class="container-fluid ">
            <a class="navbar-brand me-color" id="spcleft-logo" href="/"><img src="./images/logo2.png" alt="ugaamux" width="60" height="60"></a>
            <i class="fa fa-user-circle-o user-icon"> <div id="dd" class="dropd "><a class="sign-btn " href="/signinpage/signin">Sign In</a></div></i>
            <button class="navbar-toggler menu-border " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
           <div class="hmenu "></div>
           <div class="hmenu "></div>
           <div class="hmenu "></div>
          </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
                <div class="navbar-nav left ">
                    <a class="nav-link me-color " href="/">Home</a>
                    <a class="nav-link me-color " href="/artistspage/artist">Artists</a>
                    <a class="nav-link me-color " href="/comedianspage/comedian">Commedians</a>
                    <a class="nav-link me-color " href="/bandpage/band">Bands</a>
                    <a class="nav-link me-color " href="/aboutuspage/about">About Us</a>
                    <a class="nav-link me-color " id="active" href="/blog">Blog</a>
                    <a class="nav-link me-color " href="/contactUS/contactUs">Contact</a>


                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid cntn-margin-top">
        <div class="row">
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/artists/binnie.jpg" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Singer Binie ganta releases anew song called watto ,check it out on his platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/ykee.jpg" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Ykee benda one of the best artist releases anew song called Kampe ,check it out on his platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/Bobi-Wine-1024x683.jpg" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Bobi wine drops anew hit called Katengo ,check it out on his platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/shee.jfif" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Sheebah releases anew album of five songs called Tuliwo ,check it out on her platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/images.jfif" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Pasis releases anew song called Bibawo ,check it out on her platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/azawi.jfif" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>New artist Azawi drops ahit anew song called This year ,check it out on her platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/apass.jfif" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Apass kabuzi releases anew album called Byange ,check it out on his platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/pallaso.jpg" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p>Wesal drops anew song called maama ,check it out on his platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>
            <div class="blog col-lg-4">
                <div class="blog-image">
                    <img src="./images/blog/kenzo.jpg" alt="bini" height="95%" width="400px">
                </div>
                <div class="blog-text">
                    <p> Kenzo releases anew song called tweyagale ,check it out on his platforms for more information
                        <a href="#">here</a>
                    </p>
                </div>
            </div>

        </div>

    </div>

    <!--this is a footer section-->
    <div class="row ">
        <div class="footer col-lg-6 col-md-6 col-sm-12 ">
            <div class="text-box-footer ">
                <h1>Contact With US</h1>
                <span>Email: <a href="# ">ugaamux@gmail.com</a></span><br>
                <span>Call: <a href="# ">0785234859</a></span><br>
                <span> Location:Kampala (UG)</span><br>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>

        <div class="footer-2 col-lg-6 col-md-6 col-sm-12 ">
            <div class="text-box-footer ">
                <h1></h1>
                <a class="footer-link " href="# ">Support</a>
                <a class=" footer-link " href="# ">Artists</a>
                <a class=" footer-link " href="# ">Comedians</a>
                <a class=" footer-link " href="# ">Bands</a>
                <a class=" footer-link " href="# ">AboutUs</a>
                <a class=" footer-link " href="# ">Blog</a>

            </div>
        </div>
    </div>

    <div class="copyright ">
        <p> &#9400Sabiiti Raymond 2021</p>
    </div>

    <script src="../Btrp/js/bootstrap.min.js ">
    </script>

</body>


</html>