<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../Btrp/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg  my-bckgd ">
        <div class="container-fluid ">
            <a class="navbar-brand me-color" id="spcleft-logo" href="/"><img src="./images/logo2.png" alt="ugaamux" width="60" height="60"></a>
            <i class="fa fa-user-circle-o user-icon"> <div id="dd" class="dropd "><a class="sign-btn " href="/signinpage/signin">Sign In</a></div></i>
            <button class="navbar-toggler menu-border " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
           <div class="hmenu "></div>
           <div class="hmenu "></div>
           <div class="hmenu "></div>
          </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
                <div class="navbar-nav left ">
                    <a class="nav-link me-color " id="active" href="/">Home</a>
                    <a class="nav-link me-color " href="/artistspage/artist">Artists</a>
                    <a class="nav-link me-color " href="/comedianspage/comedian">Commedians</a>
                    <a class="nav-link me-color " href="/bandpage/band">Bands</a>
                    <a class="nav-link me-color " href="/aboutuspage/about">About Us</a>
                    <a class="nav-link me-color " href="/blog">Blog</a>
                    <a class="nav-link me-color " href="/contactUS/contactUs">Contact</a>


                </div>
            </div>
        </div>
    </nav>
    <!--this is aheader section-->
    <section class="header ">
        <div class="text-box ">
            <h1>WELCOME TO <span>UGAAMUX.</span> </h1>
            <p>Welocme to the UGAAMUX the leading organisition that protects music artists, commedians, bands and documentaly creators in Uganda. join us today and get to know your rights about your creative work and protect your self from impasonators.
            </p>
            <a class="sign-btn2 " href="/contactUS/contactUs">Get In Touch</a>
        </div>
    </section>

    <!--artists sectoion on the home page-->
    <div class="div-heading ">
        <h1>Artists</h1>
    </div>
    <div class="artis-container-home ">

        <div class="person-id " onclick="location.href='/vinka' ; " style="cursor: pointer; ">
            <div class="person-id-image ">
                <img src="./images/artists/Vinka.jpg " alt="artist " height="280 " width="280 ">
                <div class="triangle ">
                </div>
            </div>
            <div class="person-id-name ">
                <h3>Vinka</h3>
            </div>
        </div>

        <div class="person-id " onclick="location.href='#' ; " style="cursor: pointer; ">
            <div class="person-id-image ">
                <img src="./images/artists/ray.jpg " alt="artist " height="280 " width="280 ">
                <div class="triangle ">
                </div>
            </div>
            <div class="person-id-name ">
                <h3>Rayme</h3>
            </div>
        </div>

        <div class="person-id " onclick="location.href='/kenzo' ; " style="cursor: pointer; ">
            <div class="person-id-image ">
                <img src="./images/artists/ken.jpg " alt="artist " height="280 " width="280 ">
                <div class="triangle ">
                </div>
            </div>
            <div class="person-id-name ">
                <h3>Eddy Kenzo</h3>
            </div>
        </div>
    </div>
    <div class="see-more">
        <a href="/artistspage/artist">See more</a>
    </div>

    <!--commedian section on the home page-->
    <div class="div-heading ">
        <h1>Commedians</h1>
    </div>
    <div class="artis-container-home ">
        <div class="person-id " onclick="location.href='/mpamile' ; " style="cursor: pointer; ">
            <div class="person-id-image ">
                <img src="./images/commedy/mpamile.jpg " alt="artist " height="280 " width="280 ">
                <div class="triangle ">
                </div>
            </div>
            <div class="person-id-name ">
                <h3>Tr Mpamile</h3>
            </div>
        </div>

        <div class="person-id " onclick="location.href='#' ; " style="cursor: pointer; ">
            <div class="person-id-image ">
                <img src="./images/commedy/boys.jfif " alt="artist " height="280" width="280">
                <div class="triangle ">
                </div>
            </div>
            <div class="person-id-name ">
                <h3>Maulana & Reign</h3>
            </div>
        </div>

        <div class="person-id " onclick="location.href='#' ; " style="cursor: pointer; ">
            <div class="person-id-image ">
                <img src="./images/commedy/kiko.jpg" alt="artist " height="280" width="280 ">
                <div class="triangle ">
                </div>
            </div>
            <div class="person-id-name ">
                <h3>Madrat & Chiko</h3>
            </div>
        </div>
    </div>
    <div class="see-more">
        <a href=" /comedianspage/comedian">See more</a>
    </div>


    <!--this is a band section on the home page-->
    <div class="div-heading ">
        <h1>Bands</h1>
    </div>

    <div class="band-container-home ">
        <div class="band-id " onclick="location.href='/afrigo' ; " style="cursor: pointer; ">
            <div class="band-id-image ">
                <img src="./images/band/afrigo.jpeg " alt="bands " height="280 " width="540">
                <div class="triangle ">
                </div>
            </div>
            <div class="band-id-name ">
                <h3>Afrigo band</h3>
            </div>
        </div>

        <div class="band-id " onclick="location.href='#' ; " style="cursor: pointer; ">
            <div class="band-id-image ">
                <img src="./images/band/Qwela-band.jpg" alt="bands " height="280 " width="540">
                <div class="triangle ">
                </div>
            </div>
            <div class="band-id-name ">
                <h3>Qwela band</h3>
            </div>
        </div>
    </div>
    <div class="see-more">
        <a href="/bandpage/band">See more</a>
    </div>



    <!--this is a footer section-->
    <div class="row ">
        <div class="footer col-lg-6 col-md-6 col-sm-12 ">
            <div class="text-box-footer ">
                <h1>Contact With US</h1>
                <span>Email: <a href="# ">ugaamux@gmail.com</a></span><br>
                <span>Call: <a href="# ">0785234859</a></span><br>
                <span> Location:Kampala (UG)</span><br>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>

        <div class="footer-2 col-lg-6 col-md-6 col-sm-12 ">
            <div class="text-box-footer ">
                <h1></h1>
                <a class="footer-link " href="# ">Support</a>
                <a class=" footer-link " href="# ">Artists</a>
                <a class=" footer-link " href="# ">Comedians</a>
                <a class=" footer-link " href="# ">Bands</a>
                <a class=" footer-link " href="# ">AboutUs</a>
                <a class=" footer-link " href="# ">Blog</a>

            </div>
        </div>
    </div>

    <div class="copyright ">
        <p> &#9400Sabiiti Raymond 2021</p>
    </div>

    <script src="../Btrp/js/bootstrap.min.js ">
    </script>

</body>


</html>