<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Btrp/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style2.css">
</head>

<body>

    <div class="main-welcome">
        <div class="logout">
            <i class="fa fa-user-circle-o user-icon"> <div id="dd" class="dropd "><a class="sign-btn " href="/signinpage/logout">Log out</a></div></i>
        </div>
        <div class="image-div">
            <img src="./images/logo2.png">
        </div>

        <div class="text-div">
            <h1>WELCOME TO <span>UGAAMUX</span></h1>
            <p>The leading world of Ugandan creative work for<br> musicians, comedians, and bands.</p>
        </div>


    </div>

    <div class="link-div">
        <a href="/registerartist/register">Register artist</a>
        <a href="/registercomedian/comedianrgtn">Register comedian</a>
        <a href="/registerband/bandregistration">Register band</a>
        <a href="/postblogpage/blog">Post ablog</a>
        <a href="/registeradmin/adminregistration">Admin registration</a>
        <a href="/clarkdashboard/dashboard">Dashboard</a>

    </div>




</body>
<script src="../Btrp/js/bootstrap.min.js"></script>


</html>